{% extends "fan/_base.html" %}

{% block title %}帖子{% endblock %}

{% block content %}
<style>
	.nickname {
		font-size: 24px;
		font-weight: 600;
	}

	.username {
		font-size: 16px;
		color: gray;
	}

	.title {
		font-size: 12px;
		background-color: black;
		color: white;
		padding: 2px 2px 2px 2px;
		border-radius: 6px;
	}

	.post-content {
		font-size: 32px;
		padding-top: 12px;
		font-weight: 300;
	}

	.post-image {
		width: 65%;
		padding: auto;
		margin: auto;
	}

	.nickname,
	.username,
	.user-title {
		margin-left: 6px;
		margin-right: 6px;
	}

	.comment-username {
		font-weight: 300;
		font-size: 16px;
	}

	.comment-content {
		/* padding-top: 2px; */
		font-size: 18px;
	}
</style>

<br />

<div class="mdui-container" style="padding-top: 32px;">

	<div class="mdui-row mdui-valign" style="height: 48px">
		<div class="mdui-col-offset-xs-1 mdui-col-xs-1">
			<a href="/user/{{owner.id}}">
				<img src="/media/{{ owner_profile.img }}" class="avatar" />
			</a>
		</div>
		<div class="mdui-col-xs-8">
			<span class="mdui-valign">
				<span class="nickname">{{owner_profile.nike_name}}</span>
				<span class="username">@{{owner.username}}</span>
				{% include "fan/components/user_title.html" with title=owner_profile.title title_level=owner_profile.title_level %}
			</span>
		</div>
	</div>

	<br />

	<div class="mdui-row">
		<div class="mdui-col-offset-xs-2 mdui-col-xs-8">
			<span class="post-content" style="font-weight:500; font-size: 18px">
				{{content}}
			</span>
		</div>
	</div>

	<div class="mdui-row">
		<div class="mdui-col-xs-8 mdui-col-offset-xs-2">
			<img src="/media/{{ post.post_img1 }}" style="width: 100%;">
		</div>
	</div>
</div>

<div class="mdui-container">
	<div class="mdui-row">
		<div class="mdui-col-xs-1 mdui-col-offset-xs-10">
			<button class="mdui-btn mdui-btn-icon btn-toggle-blur mdui-ripple" id="like-button" onclick="like_or_not()">
				<i class="mdui-icon material-icons" id="like-icon">favorite{% if liked == 0 %}_border{% endif %}</i>
			</button>
		</div>
	</div>

	<div class="mdui-row mdui-valign">
		<div class="mdui-col-xs-7 mdui-col-offset-xs-2">
			<form action="" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="mdui-textfield">
					<textarea class="mdui-textfield-input" id="input-comment" name="comment_text"
						placeholder="说点难听的~"></textarea>
				</div>
			</form>
		</div>
		<div calss="mdui-col-xs-1">
			<button class="mdui-btn mdui-center" id="comment-submit">评论</button>
		</div>
	</div>


	{% for comment in comment_list %}
	<div class="mdui-row mdui-valign">
		<div class="mdui-col-offset-xs-2 mdui-col-xs-1">
			<a href="/user/{{comment.user.owner.id}}">
				<img src="/media/{{ comment.user.img }}" class="avatar" />
			</a>
		</div>
		<div class="mdui-col-xs-6">
			<p class="comment-username">{{comment.user.nike_name}}</p>
			<p class="comment-content">{{comment.text}}</p>
		</div>
		<div class="mdui-col-xs-1">
			<span>
				#{{forloop.counter}}
			</span>
		</div>
	</div>
	{% endfor %}
</div>

<script>
	document.getElementById('comment-submit').addEventListener('click', e => {
		var elem = document.getElementById('input-comment')
		if (elem.value.trim().length == 0) {
			mdui.snackbar('Empty comment')
		}
		else {
			document.querySelector('form').submit()
		}
	})

	function like_or_not() {
		var xhr = new XMLHttpRequest();
		var btn = document.getElementById('like-button');
		var icon = document.getElementById('like-icon');
		btn.setAttribute('disabled', 'true');
		xhr.open("POST", "{{post.id}}/like");
		xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
		xhr.send();
		if (icon.innerHTML.trim() == 'favorite') {
			icon.innerHTML = 'favorite_border';
		}
		else {
			icon.innerHTML = 'favorite';
		}
		xhr.onreadystatechange = function() {
			btn.removeAttribute('disabled');
			if (xhr.readyState == 4 && xhr.status == 200) {
				mdui.snackbar(xhr.responseText);
			}
			else if (xhr.readyState == 4) {
				mdui.snackbar('Failed when connecting to server');
			}
		};
	}
</script>

{% endblock %}