{% load static %}


<html>

<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="/static/favicon.ico">
  <meta name="viewport" content="width=device-width">
  <title>Noel</title>
  <!-- <link rel="stylesheet" href="/static/css/style.css" /> -->
  <style>
    .avatar {
      border-radius: 100%;
      height: 48px;
      width: 48px;
    }

    .nickname {
      font-size: 24px;
      font-weight: 600;
    }

    .username {
      font-size: 16px;
      color: gray;
    }

    .title {
      font-size: 12px;
      background-color: black;
      color: white;
      padding: 2px 2px 2px 2px;
      border-radius: 6px;
    }

    .post-content {
      font-size: 32px;
      padding-top: 12px;
      font-weight: 300;
    }

    .post-image {
      width: 65%;
      padding: auto;
      margin: auto;
    }
  </style>
  <link rel="stylesheet" href="https://unpkg.com/mdui@1.0.2/dist/css/mdui.min.css" />
</head>

<body class="mdui-appbar-with-toolbar">
  {% csrf_token %}

  {% include "fan/components/appbar.html" with page="帖子" %}

  {% include "fan/components/drawer.html" %}

  <br />

  <div class="mdui-container" style="padding-top: 32px;">

    <div class="mdui-row mdui-valign" style="height: 48px">
      <div class="mdui-col-offset-xs-1 mdui-col-xs-1">
        <a href="/user/{{uid}}">
          <img src="/media/{{ user_profile.img }}" class="avatar" />
        </a>
      </div>
      <div class="mdui-col-xs-8">
        <span class="mdui-valign">
          <span class="nickname">{{nike_name}}</span>
        </span>


        <div>
          {% if title_level == 1 %}
          {% include "fan/master_title.html" with title=title %}
          {% endif %}
          {% if title_level == 2 %}
          {% include "fan/admin_title.html" with title=title %}
          {% endif %}
          {% if title_level == 3 %}
          {% include "fan/special_title.html" with title=title %}
          {% endif %}
          {% if title_level == 4 %}
          {% include "fan/normal_title.html" with title=title %}
          {% endif %}
        </div>

        <span class="username">@{{username}}</span>
      </div>
    </div>

    <br />

    <div class="mdui-row">
      <div class="mdui-col-offset-xs-2 mdui-col-xs-8">
        <span class="post-content" style="font-weight:500; font-size: 18px">
          {{post_content}}
        </span>
      </div>
    </div>

    <div class="mdui-row">
      <img class="post-image mdui-center" src="/media/{{ post.post_img1 }}">
    </div>
  </div>
  <hr>
  <div class="mdui-grid-tile-buttons" style="padding-left:73% ;">
    <button class="mdui-btn mdui-btn-icon btn-toggle-blur mdui-ripple" onclick="like_or_not()">
      <i class="mdui-icon material-icons" id="icon">favorite{% if liked == 0 %}_border{% endif %}</i>
    </button>
  </div>

  <div class="mdui-container">
    <div class="mdui-row mdui-valign">
      <div class="mdui-col-xs-6 mdui-col-offset-xs-2">
        <form action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="mdui-textfield">
            <textarea class="mdui-textfield-input" id="input-comment" name="comment_text"
              placeholder="说点难听的~"></textarea>
          </div>
        </form>
      </div>
      <div calss="mdui-col-xs-1">
        <button class="mdui-btn mdui-center" id="comment-submit">评论</button>
      </div>
    </div>


    {% for comment in comment_list1 %}
    <div class="mdui-row mdui-valign">
      <div class="mdui-col-offset-xs-2 mdui-col-xs-1">
        <a href="/user/{{comment.user.owner.id}}">
          <img src="/media/{{ comment.user.img }}" class="avatar" />
        </a>
      </div>
      <div class="mdui-col-xs-6">
        <p style="font-weight:230; font-size: 14px">{{comment.user.nike_name}}</p>
        <p style="font-weight:530; font-size: 16px;padding-top:4%">{{comment.text}}</p>
      </div>
      <div class="mdui-col-xs-1">
        <span>
          #{{forloop.counter}}
        </span>
      </div>
    </div>
    <hr>
    {% endfor %}
  </div>

  <script>
    document.getElementById('comment-submit').addEventListener('click', e => {
      var elem = document.getElementById('input-comment')
      if (elem.value.trim().length == 0) {
        mdui.snackbar('Empty comment')
      }
      else {
        document.querySelector('form').submit()
      }
    })

    function like_or_not() {
      var toggle = new XMLHttpRequest();
      var data = new FormData();
      var icon = document.getElementById('icon');
      data.append("value", "1");
      data.append("comment_text", "");
      toggle.open("POST", "{{post.id}}/like", true);
      toggle.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
      toggle.send(data);
      if (icon.innerHTML.trim() == 'favorite') {
        icon.innerHTML = 'favorite_border';
      }
      else {
        icon.innerHTML = 'favorite';
      }
    }
  </script>

  <script src="https://unpkg.com/mdui@1.0.2/dist/js/mdui.min.js"></script>
</body>

</html>
