{% load static %}

{% if user.post_img1 %}
<div class="mdui-col-sm-3 mdui-hoverable">
  <div class="mdui-grid-tile mdui-shadow-3 mdui-hoverable">
    <a href="{% url 'fan:post_detail' user.id %}">
      {% if user.show_view %}
      <img src="/media_/{{user.post_img1}}" class="post-image post-image-blur" />
      {% else %}
      <img src="/media_/{{user.post_img1}}" class="post-image" />
      {% endif %}
    </a>

    <div class="mdui-grid-tile-actions">
      <div class="mdui-grid-tile-text">
        <div class="mdui-grid-tile-title mdui-text-truncate">{{content}}</div>
        <div class="mdui-grid-tile-subtitle mdui-text-truncate">{{nike_name}} @{{username}} </div>
        <div style="float:left"><i class="mdui-icon material-icons">favorite</i> {{like}}</div>
      </div>

      <div class="mdui-grid-tile-buttons">
        <button class="mdui-btn mdui-btn-icon btn-toggle-blur mdui-ripple">
          <i class="mdui-icon material-icons">visibility{% if not user.show_view %}_off{% endif %}</i>
        </button>
      </div>
    </div>
  </div>

</div>
{% endif %}