<!DOCTYPE html>
{% extends "fan/_base.html" %}

{% block title %}编辑博客{% endblock %}

{% block content %}
{% load static %}
<br>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    {{ form.media }}
</head>
<body>

<div class="editor">
    <form action="" method="post">
    	{% csrf_token %}
        <label for="title" style="padding: 23px;">标题:</label>
        <input name="title" type="text" id="title" style="padding: 5px;">
        {{ form.as_p }}
        <input type="submit" value="提交">
    </form>
</div>

</body>
</html>
{% endblock %}
