{% extends "fan/_base.html" %}

{% block title %}{{username}}的个人主页{% endblock %}

{% block content %}
<style>
    html {
        background-image: url('/media/{{ backimg }}');
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    body {
        background: none;
        margin: 10%;
    }

    .mdui-drawer {
        backdrop-filter: blur(64px) brightness(200%);
    }
</style>

<div class="mdui-container profile-view mdui-hoverable">
    {% include "fan/components/user_info.html" with profile=target_profile user=target %}

    <div class="mdui-row" style="padding-top: 12px">
        <div class="mdui-col-xs-12 mdui-col-md-3 mdui-col-offset-md-2">
            <i class="mdui-icon fa-solid fa-austral-sign"></i>签名：{{target_profile.sign}}
        </div>
        <div class="mdui-col-xs-12 mdui-col-md-2">
            <i class="mdui-icon material-icons">location_on</i>位置：{{target_profile.address}}
        </div>
        <div class="mdui-col-xs-12 mdui-col-md-2">
            <i class="mdui-icon material-icons">today</i>生日：{{target_profile.birthday}}
        </div>
        <div class="mdui-col-xs-12 mdui-col-md-2">
            <i class="mdui-icon material-icons">account_circle</i>UID：{{target.id}}
        </div>
    </div>

    <br />

    <div class="mdui-row">
        <div class="mdui-col-xs-6 mdui-col-offset-xs-2 mdui-typo" style="font-size: 24px;color:black">
            {{desc}}
        </div>
    </div>
</div>

<script>
    function toggleHidden() {
        document.querySelector('.profile-view').classList.toggle('profile-view-hidden');
    }
</script>

<button class="mdui-btn mdui-fab mdui-fab-fixed mdui-ripple mdui-color-pink-50" onclick="toggleHidden()">
    <i class="mdui-icon material-icons">image</i>
</button>

{% endblock %}