{% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>Noel</title>
  <link rel="stylesheet" href="/static/css/style.css" />
  <style>
    .mdui-col-sm-3 {
      padding-top: 12px;
      padding-bottom: 12px;
    }
  </style>
  <link rel="stylesheet" href="https://unpkg.com/mdui@1.0.2/dist/css/mdui.min.css" />
</head>

<body class="mdui-appbar-with-toolbar">
  {% csrf_token %}

  <header class="mdui-appbar mdui-appbar-fixed">
    <div class="mdui-toolbar mdui-color-blue-200">
      <a href="javascript:;" class="mdui-btn mdui-btn-icon" mdui-drawer="{target: '.mdui-drawer'}">
        <i class="mdui-icon material-icons">menu</i>
      </a>
      <a href="javascript:;" class="mdui-typo-headline">AenCommunity</a>
      <a href="javascript:;" class="mdui-typo-title">Home</a>
      <div class="mdui-toolbar-spacer"></div>
      <a href="javascript:;" class="mdui-btn mdui-btn-icon" mdui-dialog="{target: '#new-post-dialog'}">
        <i class="mdui-icon material-icons">add</i>
      </a>
      <a href="javascript:;" class="mdui-btn mdui-btn-icon" mdui-menu="{target: '#account-menu'}">
        <i class="mdui-icon material-icons">account_circle</i>
      </a>
      <ul class="mdui-menu" id="account-menu">
        <li class="mdui-menu-item">
          <a href="{% url 'fan:editava' %}" class="mdui-ripple">Avatar...</a>
        </li>
        <li class="mdui-divider"></li>
        <li class="mdui-menu-item">
          <a href="{% url 'fan:login' %}" class="mdui-ripple">Log in</a>
        </li>
        <li class="mdui-menu-item">
          <a href="{% url 'fan:register' %}" class="mdui-ripple">Sign up</a>
        </li>
      </ul>
    </div>
  </header>

</html>


<div class="box">
  <article class="media">
    <div class="media-left">
      <figure>
        <img src="/media/{{ user_profile.img }}" style="width: 80px; height: 80px">
      </figure>
    </div>

    <div class="media-content">
      <div class="content">
        <p>
          <strong>{{nike_name}}</strong>
          <span class="tag is-dark">{{title}}</span>
          <br>
          <small>@{{username}}</small>
        </p>
      </div>
      <div>
        {{post_content}}
      </div>
      <br/>
      <hr>
      <div class="post-image post-image-hidden">
        {% if post.post_img1 %}
        {% include "fan/img_base.html" with post_img=post.post_img1%}
        {% endif %}
      </div>
      <hr>
      <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
      <textarea rows="10%" cols="25%" name="comment_text" placeholder="在此输入内容"></textarea>
            <div style="float:right;padding:20px">
      <button class="button is-ghost">发布评论</button>
    </div>

  </form>
      <hr>
      {% for comment in comment_list1 %}
        {% include "fan/comment_base.html" with content=comment.text nike_name=comment.user.nike_name  user_img=comment.user.img%}
      {% endfor %}
      <nav class="level is-mobile">
        <div class="level-left">
          <a class="level-item" aria-label="reply">
            <span class="icon is-small">
              <i class="fas fa-reply" aria-hidden="true"></i>
            </span>
          </a>
          <a class="level-item" aria-label="retweet">
            <span class="icon is-small">
              <i class="fas fa-retweet" aria-hidden="true"></i>
            </span>
          </a>
          <a class="level-item" aria-label="like">
            <span class="icon is-small">
              <i class="fas fa-heart" aria-hidden="true"></i>
            </span>
          </a>
        </div>
      </nav>
    </div>
  </article>
</div>