{% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>Noel</title>
  <link rel="stylesheet" href="/static/css/style.css" />
  <style>
    .avatar {
      border-radius: 100%;
      height: 48px;
      width: 48px;
    }
    .nickname {
      font-size: 24px;
      font-weight: 600;
    }
    .username {
      font-size: 16px;
      color: gray;
    }
    .title {
      font-size: 48px;
    }
  </style>
  <link rel="stylesheet" href="https://unpkg.com/mdui@1.0.2/dist/css/mdui.min.css" />
</head>

<body class="mdui-appbar-with-toolbar">
  {% csrf_token %}

  {% include "fan/components/appbar.html" with page="Post" %}

  {% include "fan/components/drawer.html" %}

  <br />

  <div class="mdui-container" style="padding-top: 32px;">
    <div class="mdui-row">
      <!-- <span class="post-title">{{title}}</span> -->
    </div>
    <div class="mdui-row mdui-valign" style="height: 48px">
      <div class="mdui-col-offset-sm-2 mdui-col-sm-1">
        <img src="/media/{{ user_profile.img }}" class="avatar" />
      </div>
      <div class="mdui-col-sm-4">
        <span class="nickname">{{nike_name}}</span>
        <br />
        <span class="username">@{{username}}</span>
      </div>
      <div class="mdui-col-sm-4">
        <span class="title">{{title}}</span>
      </div>
    </div>

    <div class="mdui-row">

    </div>
  </div>


  <script src="https://unpkg.com/mdui@1.0.2/dist/js/mdui.min.js"></script>
</body>

</html>


<div class="box">
  <article class="media">
    <div class="media-left">
      <figure>
        <img src="/media/{{ user_profile.img }}" style="width: 80px; height: 80px">
      </figure>
    </div>

    <div class="media-content">
      <div class="content">
        <p>
          <strong>{{nike_name}}</strong>
          <span class="tag is-dark">{{title}}</span>
          <br>
          <small>@{{username}}</small>
        </p>
      </div>
      <div>
        {{post_content}}
      </div>
      <br/>
      <hr>
      <div class="post-image post-image-hidden">
        {% if post.post_img1 %}
        {% include "fan/img_base.html" with post_img=post.post_img1%}
        {% endif %}
      </div>
      <hr>
      <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
      <textarea rows="10%" cols="25%" name="comment_text" placeholder="在此输入内容"></textarea>
            <div style="float:right;padding:20px">
      <button class="button is-ghost">发布评论</button>
    </div>

  </form>
      <hr>
      {% for comment in comment_list1 %}
        {% include "fan/comment_base.html" with content=comment.text nike_name=comment.user.nike_name  user_img=comment.user.img%}
      {% endfor %}
      <nav class="level is-mobile">
        <div class="level-left">
          <a class="level-item" aria-label="reply">
            <span class="icon is-small">
              <i class="fas fa-reply" aria-hidden="true"></i>
            </span>
          </a>
          <a class="level-item" aria-label="retweet">
            <span class="icon is-small">
              <i class="fas fa-retweet" aria-hidden="true"></i>
            </span>
          </a>
          <a class="level-item" aria-label="like">
            <span class="icon is-small">
              <i class="fas fa-heart" aria-hidden="true"></i>
            </span>
          </a>
        </div>
      </nav>
    </div>
  </article>
</div>