{% load static %}

<style>



</style>
<script type="text/javascript">

  window.onclick = function (e) {
    // 获取点击元素对象
    element = document.elementFromPoint(e.clientX, e.clientY);
    // 获取点击元素的类名并弹窗显示
    //alert(element.title);
  }
  function tr() {
    document.getElementById(element.title).style.display = 'block';
  }
  function fa() {
    document.getElementById(element.title).style.display = 'none';
  }
</script>
<link rel="stylesheet" href="/static/css/bulma.css" />
<div class="box">
  <article class="media">
    <div class="media-left">
      <figure>
        <img src="/media/{{ user_img1 }}" style="width: 80px; height: 80px">
      </figure>
    </div>

    <div class="media-content">
      <div class="content">
        <p>
          <strong>{{nike_name}}</strong>
          <span class="tag is-dark">{{title}}</span>
          <button class="btn-trigger-hidden">
            [TRIGGER]
          </button>
          <!-- <a title="{{user.id}}"
            onclick="tr()">[显示可见的图片]</a>
          <a title="{{user.id}}" onclick="fa()">[隐藏可见的图片]</a> -->
          <br>
          <small>@{{username}}</small>
        </p>
      </div>
      {{content}}
      <hr>
      <div style="display: none" class="post-image">
        {% if user.post_img1 %}
        {% include "fan/img_base.html" with post_img=user.post_img1%}
        {% endif %}
        {% if user.post_img2 %}
        {% include "fan/img_base.html" with post_img=user.post_img2%}
        {% endif %}
        {% if user.post_img3 %}
        {% include "fan/img_base.html" with post_img=user.post_img3%}
        {% endif %}
        {% if user.post_img4 %}
        {% include "fan/img_base.html" with post_img=user.post_img4%}
        {% endif %}
      </div>
      <nav class="level is-mobile">
        <div class="level-left">
          <a class="level-item" aria-label="reply">
            <span class="icon is-small">
              <i class="fas fa-reply" aria-hidden="true"></i>
            </span>
          </a>
          <a class="level-item" aria-label="retweet">
            <span class="icon is-small">
              <i class="fas fa-retweet" aria-hidden="true"></i>
            </span>
          </a>
          <a class="level-item" aria-label="like">
            <span class="icon is-small">
              <i class="fas fa-heart" aria-hidden="true"></i>
            </span>
          </a>
        </div>
      </nav>
    </div>
  </article>
</div>

<script>
  var elem = document.querySelectorAll('.btn-trigger-hidden');
  for (var i in elem) {
    i.addEventListener('click', (event) => {
      event.target.parentElement.parentElement.parentElement.querySelector('.post-image').classList.toggle('post-image-hidden');
    })
  }
</script>