{% load static %}

{% if user.post_img1 %}
<div class="mdui-col-sm-3">
  <div class="mdui-grid-tile">
    <a href="{% url 'fan:post_detail' user.id %}">
      {% if user.show_view %}
      <img src="/media/{{user.post_img1}}" class="post-image post-image-blur" />
      {% else %}
      <img src="/media/{{user.post_img1}}" class="post-image" />
      {% endif %}
    </a>

    <div class="mdui-grid-tile-actions">
      <div class="mdui-grid-tile-text">
        <div class="mdui-grid-tile-title mdui-text-truncate">{{content}}</div>
        <div class="mdui-grid-tile-subtitle mdui-text-truncate">{{nike_name}}</div>
      </div>

      <div class="mdui-grid-tile-buttons">
        <button class="mdui-btn mdui-btn-icon btn-toggle-blur mdui-ripple"><i class="mdui-icon material-icons">visibility</i></button>
      </div>
    </div>
  </div>

</div>
{% endif %}