<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<form action="" method="post">
    {% csrf_token %}
    <div class="box">
        <h2>登录😎</h2>
        <div class="input-box">
            <label>账号</label>
            <input type="text" name="username"/>
        </div>
        <div class="input-box">
            <label>密码</label>
            <input type="password" name="password"/>
        </div>
        <div class="btn-box">

            <div>
                <button style="width:250px">登录</button>
            </div>

    </div>
        <div style="padding:10px">

                 <a style="text-decoration: none;color:#9b6f36;" href="{% url 'fan:register' %}" >注册</a>

        </div>

<script type="text/javascript">

</script>
</form>
</body>
</html>