<!DOCTYPE html>
<html lang="zh-CN">

<head>
    {% include "fan/components/head.html" %}
</head>

<body class="mdui-appbar-with-toolbar">
    {% csrf_token %}

    {% include "fan/components/appbar.html" with page="Register" %}

    {% include "fan/components/drawer.html" %}

    <div class="mdui-container">


        <form action="" method="post">
            {% csrf_token %}
            <div class="box">
                <h2>注册😎</h2>

                <div class="mdui-textfield mdui-textfield-floating-label">
                    <label class="mdui-textfield-label">Username</label>
                    <input class="mdui-textfield-input" name="username" id="input-username" pattern="^[\d\w_]+$" required />
                </div>
                <div class="mdui-textfield mdui-textfield-floating-label">
                    <label class="mdui-textfield-label">Password</label>
                    <input class="mdui-textfield-input" name="password" type="password" id="input-password" required />
                </div>

                <div class="input-box">
                    <label>用户名</label>
                    <input type="text" name="username" placeholder="用户名用来登录" />
                </div>
                <div class="input-box">
                    <label>昵称</label>
                    <input type="text" name="nike_name" placeholder="昵称是" />
                </div>
                <div class="input-box">
                    <label>密码</label>
                    <input type="password" name="password" placeholder="输入你的密码" />
                </div>
                <div class="btn-box">
                    <div>
                        <button style="width:250px">注册</button>
                    </div>
                </div>
        </form>
    </div>
</body>

</html>