<!DOCTYPE html>

<html>

<head>

    {% include "fan/components/head.html" %}

</head>

<body class="mdui-appbar-with-toolbar">

    {% csrf_token %}

    {% include "fan/components/appbar.html" with page="Home" %}

    {% include "fan/components/drawer.html" %}

    <script src="https://unpkg.com/mdui@1.0.2/dist/js/mdui.min.js"></script>
</body>


</html>

<img src="/media/{{ backimg }}" style="width: 350px" id="img">
{{nike_name}}
{{title}}
@{{username}}
{{sign}}
{{birthday}}
{{address}}
{{desc}}